.header
  = image_tag @user.image
  %ul
    %li
      %h2.name
        = @user.name
    %li
      Listed playlists #{@user.playlists.count}
    %li
      Followers: #{@user.followers}
.middle
  - if params[:page]&.to_i&.>(1)
    = link_to 'Previous Page', root_path(page: params[:page].to_i - 1, per: 25)
  = link_to 'Next Page', root_path(page: params[:page]&.to_i&.+(1) || 2, per: 25)
  %table
    %thead
      %tr
        %th
          name
        %th
          href
        %th
          public
        %th
    %tbody
      - @playlists.each do |playlist|
        %tr
          %td
            = playlist.name
          %td
            = playlist.href
          %td
            = !playlist.private_playlist
          %td
            - if playlist.private_playlist
            - elsif @my_playlists.map(&:uid).include?(playlist.id)
              - my_playlist = @my_playlists.detect { |mp| mp.uid == playlist.id }
              = button_to 'Remove',
                          playlist_path(my_playlist.id),
                          action: :destroy,
                          id: my_playlist.id,
                          method: :delete,
                          form: { id: 'this' }
            - else
              = button_to 'Add', playlists_path, params: { uid: playlist.id }, form: { id: 'this' }
  -# %h5
  -#   picture
  -# %h5
  -#   listed playlists
  -# %h5
  -#   recent messages
