!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Venmanmusic
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      .container
        .sidebar
          = link_to root_path, class: 'nav-item nav-profile' do
            = fa_icon('user', text: 'Profile')
          = link_to search_path, class: 'nav-item nav-search' do
            = fa_icon('search', text: 'Search')
          = link_to messages_path, class: 'nav-item nav-message' do
            = fa_icon('envelope', text: 'Messages')
          = link_to destroy_user_session_path, method: :delete, class: 'nav-item nav-log-out' do
            = fa_icon('sign-out-alt', text: 'Logout')

        .content
          = yield
    - else
      .homepage
        = yield
